{{ "<!-- Header -->" | safeHTML }}
<header id="header">
	{{ if not .Site.Params.avatar.hide }}
	<a href="{{ .Site.BaseURL }}" class="image avatar"><img src="{{ .Site.BaseURL }}images/{{ .Site.Params.sidebar.avatar }}" alt="" /></a>
	{{ end }}
	{{ with .Site.Params.sidebar.bio }}
		<h1>{{ . | markdownify }}</h1>
	{{ end }}

		<nav id="sidebar">
			<ul>
	{{ with .Site.Menus.main }}
			{{ range . }}
				<li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
			{{ end }}
	{{ end }}
	
	{{ with .Sections }}
        {{ range .ByWeight }}
             <li>
        	 <a href="#{{ .Params.anchor }}">{{ .Title }}</a>
    		</li>
        {{ end }}
    {{ end }}
    {{ if not .Site.Params.contact.hide }}
		    <li>
        	 <a href="#contact">{{ .Site.Params.contact.title }}</a>
    		</li>
	{{ end }}
			</ul>
		</nav>
</header>
